*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #8a51fc;

}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin: 20px auto;


}

main {
    width: 500px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 100px auto;
    padding: 44px 24px 23px;
}

label {
   color: #777777 ;
   font-weight: 400;
   font-size: 14px;
}

select, input  {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    /*appearance: none; > setinha do select*/
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

.logo-iene{

    width: 44px;
    height: 44px;
}


input{
    cursor: auto;
}

button {
    background: #772fd3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column; /* só libera quando o display for flex*/
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex; /* libera alguns super-poderes*/
    flex-direction: column; /* deixa os itens em cima do outro "coluna"*/
    align-items: center; /* alinha os itens aos centers*/
    gap: 4px; /* distancia entre os itens*/
}

.currency-value, .currency-value-to-convert {
color: #777777;
font-size: 20px;
font-weight: 700;
font: bolder;
}

.currency-cotation, .date-cotation{
    margin-top: 15px;
    color: #777777;
    font-size: 14px;
    font-weight: 700;
    font: bolder;
    text-align: center;
    }

.currency {
    color: #777777;
    font-weight: 700;
    font-size: 25px;
    font: bolder;
}